/* plant-info.component.css */

h2 {
  color: #3498db; /* Change heading color to a blue shade */
}

.info-container {
  margin-top: 10px; /* Add margin above the information container */
}

p {
  margin-bottom: 8px; /* Add margin below each paragraph for spacing */
}