<!-- plant-form.component.html -->
<form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="friendly_name">Friendly Name:</label>
      <input type="text" id="friendly_name" formControlName="friendly_name" required placeholder="e.g., Sunny Garden">
    </div>
    <div>
      <label for="locality">Locality:</label>
      <input type="text" id="locality" formControlName="locality" required placeholder="e.g., Fribourg">
    </div>
    <div>
      <label for="npa">NPA:</label>
      <input type="text" id="npa" formControlName="npa" required placeholder="e.g., 1700">
    </div>
    <div>
      <label for="lat">Latitude:</label>
      <input type="number" id="lat" formControlName="lat" required placeholder="e.g., 46.7938">
    </div>
    <div>
      <label for="lng">Longitude:</label>
      <input type="number" id="lng" formControlName="lng" required placeholder="e.g., 7.1596">
    </div>
    <div>
      <label for="max_power">Max Power (kWh):</label>
      <input type="number" id="max_power" formControlName="max_power" required placeholder="e.g., 2000">
    </div>
    <div>
      <label for="nr_panels">Number of Panels:</label>
      <input type="number" id="nr_panels" formControlName="nr_panels" required placeholder="e.g., 350">
    </div>
    <div>
      <label for="contact_person">Contact Person:</label>
      <select id="contact_person" formControlName="contact_person" required>
        <option *ngFor="let user of users" 
          [value]="user.id" [selected]="plantData.contact_person && user.id === plantData.contact_person.id">{{ user.first_name }} {{ user.last_name }}</option>
      </select>
    </div>
    <div>
      <label for="thingy_id">Thingy ID:</label>
      <select id="thingy_id" formControlName="thingy_id" required>
        <option *ngFor="let thingyId of thingyIds" 
          [value]="thingyId" [selected]="plantData.thingy_id && thingyId === plantData.thingy_id">{{ thingyId }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="plantForm.invalid">Submit</button>
  </form>
  