/* 
Created by: Leyla Kandé on 9 November 2023
Updated by:  
*/

/* Add styles for the plant information */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Add styles for the realtime-data and historical-data components */
.app-data-components {
    display: inline-block;    
    flex-wrap: wrap;
    gap: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-wrapper {
    flex: 1;
    margin-right: 10px; /* Adjust margin as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0px;
    box-sizing: border-box;
    display: inline-block;
}